<!DOCTYPE html>
<html>
<title>Test</title>

<head>
    <link rel ='stylesheet' href="static/css/style.css">

</head>
<body>

Test body

<div id ="mainBox" class="box" type='text/css'></div>





<div id ='a' class ="button" style ="top:400px; left:500px" type="text/css">  Thursday </div>
<div id = 'b' class ="button" style ="top:400px; left:900px" type="text/css">  Thursday </div>
<div id = 'c' class ="button" style ="top:525px; left:500px" type="text/css">  Thursday </div>
<div id = 'd' class ="button" style ="top:525px; left:900px" type="text/css">  Thursday </div>

<script src="static/js/script.js" type="text/javascript"></script>
</body>






</html>
