<!DOCTYPE html>
<html>
<title>Test</title>

<head>
    <link rel ='stylesheet' href="static/css/style.css">

</head>
<body>

<div id="counter">
    0
</div>

<div id ="round">
    1
</div>

<div id ="mainBox" class="box" type='text/css'></div>





<button type="button" id ='a' class ="button" style ="top:400px; left:500px" type="text/css">  Thursday </button>
<button type="button" id = 'b' class ="button" style ="top:400px; left:900px" type="text/css">  Thursday </button>
<button type="button" id = 'c' class ="button" style ="top:525px; left:500px" type="text/css">  Thursday </button>
<button type="button" id = 'd' class ="button" style ="top:525px; left:900px" type="text/css">  Thursday </button>

<script src="static/js/script.js" type="text/javascript"></script>
</body>






</html>
